html,
body {
  font-family: 'Roboto Slab', serif;
  color: #444;
}

html, body {
  min-height: 100%;
  font-weight: 300;
}

body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight
}

a, a:visited {
  color: #444;
}

p {
  line-height: 2.7rem;
}

section {
  margin: 2rem;
  width: 66.66vw;
  font-size: 2rem;
}

ul li {
  list-style: none;
  padding-bottom: 1rem;
}

img {
  border-radius: 50%;
  text-align: center;
}
